<%= form_for @agreement, html: { class: "sigPad" } do |f| %>
  <% if @agreement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agreement.errors.count, "error") %> prohibited this agreement from being saved:</h2>

      <ul>
      <% @agreement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <textarea id="some-textarea" class='wysihtml5' placeholder="Enter text ..."></textarea>
  </div>
  <h5>User Agreement</h5>
  <p>By signing this agreement, you promise to be a great person.</p>
  <div class="sig sigWrapper">
    <div class="typed"></div>
    <canvas class="pad" width="298" height="55"></canvas>
    <%= f.hidden_field :signature, class: "output" %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
